.aurora-container {
  width: 100%;
  height: 200vh;
  min-height: 200vh;
}

/* Remove canvas styling to let WebGL renderer handle sizing */
.aurora-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

